doctype html
html
  head
    title Jade Demo
    body
    center
     img#SomeImageID(src='/correctlogo1.png', alt="This is an image ALT", title="Maplebots",height="100" width="200")
     h1 Candidate information
      h3
       table(border='1')
        tr
         td
          label phone : #{users._id} <br>
          label name : #{users.name} <br>
          label Email :#{users.email} <br>
          label Time taken : #{users.time}
         

     h1 Thank you!

    style.
      body
      {
      background-color:#D0D0D0;
      margin-top:100px;
      }
      h1
      {
      color:green;
      }
      td
      {
       padding:40px 40px;
      }
      tr
      {

      line-height:50px;
      }
